/*
A dot (.) is used in from of styling elements which are defined
in HTML as class="" 

A hash (#) is used when id is used in the HTML file
using id=""

CSS prioritizes IDs more compared to classes.
Hence, an ID element will overwrite the class element.

Other than that, tag elements wen defined normally, for example,
p, h2, etc., the styling is automatically applied to all elements
in the entire HTML document.

In case of conflicting style tags, the order in which the tags are
declared in, matters. In this case, the precedence of the class which
is declared the latest is the highest. 

The !important attribute after an element gives that element the highest
priority over other elements.

*/

:root{
    /* Root element to store all variable junk and likewise */
    --light_violet:darkorchid;
    /* Double hypens are used to declare a variable which can be used anywhere in the CSS File */
}

#Main_Heading{

    color: darkorchid;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    background-color: yellowgreen;
    width:fit-content;

}
[type='radio']{
    margin:20px;

}
p{
    color: var(--purple_color, purple) !important;
    /* The colour is still written as a fallback in case the variable does not work. */
    font-size: 18px;
    font-family: monospace;
}
h2{
    color:rgb(0, 255, 255);
    width:fit-content;
    background-color: rgb(60, 106, 245);
    margin:10px 5px 10px 5px;
    padding: 5px 10px 5px 10px;
    /* border-color: darkblue; */
    /* border-width: 5px; */
    /* border-style: solid; */
}
.containers{
    font-size: 20px;
    margin: 10px;
    width:fit-content;
    background: lightblue;
    width:max-content;
    display: grid;
    
    /* Repeat function */
    grid-template-columns: repeat(4, 50);
    grid-template-rows: 20px 20px;

    grid-row-gap: 10px;
    grid-column-gap:10px;
    /* To shrink row and column gap into one line of code we use: */
    grid-gap: 10px 10px;

    align-items: center;


    grid-template-areas: 
        "header header header"
        "content content content"
        "footer footer footer";
}

/* Giving multiple classes the same attribute */

.box1, .box3, .box5{
    background: lightcoral;
    grid-area: footer;
}
.text-color-1{
    --light_violet:rgb(255, 138, 255);
    /* A local variable with a different value will overwrite the data from the root element */
    color: var(--light_violet);
    font-family: 'Courier New', Courier, monospace;
}
.image_layouts{
    border-radius: 15px;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    /* Border radius of 50% will make a circular image !! */
}
.div_class{
    color: tomato;
    background-color: slategray;
}
