/*
A dot (.) is used in from of styling elements which are defined
in HTML as class="" 

A hash (#) is used when id is used in the HTML file
using id=""

Other than that, tag elements wen defined normally, for example,
p, h2, etc., the styling is automatically applied to all elements
in the entire HTML document.
*/

p{
    color:purple;
    font-size: 18px;
    font-family: monospace;
}
h2{
    color:rgb(0, 255, 255);
    background-color: rgb(60, 106, 245);
    /* border-color: darkblue; */
    /* border-width: 5px; */
    /* border-style: solid; */
}
.text-color-1{
    color: darkorchid;
    font-family: 'Courier New', Courier, monospace;
}
.image_layouts{
    width: 900px;
    border-radius: 10px;
    border-style: solid;
    border-color: red;
    border-width: 5px;
    /* Border radius of 50% will make a circular image !! */
}
.div_class{
    color: tomato;
    background-color: slategray;
}
#Main_Heading{
    color: darkorchid;
    background-color: yellowgreen;
}