/* CSS for Photography Website Project */

html, body {
    margin:0;
    padding:0;
    border: 0px;
    box-sizing: border-box;
    height:100%;
    width:100%;

    scroll-behavior:smooth;
}

body::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
body::-webkit-scrollbar-track {
    mix-blend-mode: overlay;
}
body::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

.intro-page {
    background-image: url(./img/wood-texture.jpg);
    margin-top: 0;
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    top: 45%;
    width:100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-size: 5rem;
    font-weight:500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    background-attachment:scroll;
}

.title span.title-text {
    padding: 15px 20px 15px 20px;
    background-color: rgb(15, 15, 15);
    opacity: 0.7;
}

@media only screen and (max-device-width: 1024px) {
    .intro-page {
        background-attachment: scroll;
    }
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    word-spacing: 10px;
    text-align: center;
    font-weight: 100;
    text-decoration: overline underline rgb(77, 77, 77);
    text-underline-offset: 8px;
    margin: 7vh 0 7vh 0;
}
span.text-split {
    font-weight: 800;
}

.menu .list-container {
    /* background-color: rgba(15, 15, 15, 0.6); */
    margin-top: 0vh;
    
    padding: 5vh 0 5vh 55%; 
}

.list-items {
    display: inline;
    padding-right: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    
}

.list-links{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px 0 10px;
}

.portfolio-class .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.portfolio-class .image-container .type-a{
    display: flex;
    flex-direction: column;
    width:30%;
}

.portfolio-class 
.image-container 
.type-a img{
    width: 100%;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 20px 10px 25px #444;
}

.footer-list {
    margin-inline-start: 30%;
    margin-inline-end: 30%;
    justify-content: space-between;
}
.list {
    display: inline;
    align-items: center;
    padding: 2vh;
}